body {
    height: 100vh;
    margin: 0;
    display: grid;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(50, 121, 210, 1) 100%
    );
    font-family: Poppins;
}

h1 {
    text-align: center;
    color: white;
}

.fly {
    margin: auto;
    margin-top: -100px;
    font-size: 10rem;
    user-select: none;
    padding: 2rem;
}

.fly:hover {
    cursor: grab;
    font-size: 12rem;
}

.fly:active {
    cursor: grabbing;
    font-size: 12rem;
}

#airplane {
    transform-origin: center;
    transform: rotate(45deg);
}

footer {
    bottom: 0px;
    position: fixed;
    padding: 10px;
    font-weight: 600;
    color: #1c1c1e;
    text-align: right;
}

.name-light {
    color: #1a238f;
    text-decoration: none;
    background: linear-gradient(to right, #1a238f 50%, #ff3300 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
